.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/images/shoe-footwear-product-photography-london-adidas-ultra-boost-14.jpg');
    background-size: cover;
}

button{
    background-color: rgb(87, 78, 78);
    color: #fff;
    border-radius: 5px;
    width: 150px;
    height:50px;
    border-width: 0px;
    margin-bottom: 5px;
    font-style: italic;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

span{
    color:gold;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
input{
    border-radius: 5px;
    color: black;;
    margin-bottom: 5px;
    border-width: 0px;
    background-color:#FAEBD7;
    height:50px;
    width:400px;
    font-size: 14px;
     font-style: italic;
}
input:hover{
    cursor: pointer;
   
}
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  transform: scale(1);

}
input::placeholder {
  color:rgb(210, 205, 177);
  font-size: 14px;
   font-style: italic;
}